<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <met#aeb3b8et="utf-8">
        <title>Rashid Doniyorov</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="Free Website Template" name="keywords">
        <meta content="Free Website Template" name="description">

        <!-- Favicon -->
        <link href="img/favicon.ico" rel="icon">

        <!-- Google Web Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;600;700&display=swap" rel="stylesheet">

        <!-- Icon Font Stylesheet -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

        <!-- Libraries Stylesheet -->
        <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
        <link href="{% static 'lib/lightbox/css/lightbox.min.css' %}" rel="stylesheet">
        <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">

        <!-- Customized Bootstrap Stylesheet -->
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
    </head>

    <body>
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->
        {% if messages %}
        {% for message in messages %}
        <div class="container">
            <div class="shadow-sm position-fixed end-0 bottom-0 mt-4">
                <div style="width: 20rem;opacity: 0.9;" class="m-3 alert alert-{{message.tags}}" role="alert">
                {{message}}
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-4 sticky-lg-top vh-100">
                    <div class="d-flex flex-column h-100 text-center overflow-auto shadow">
                        {% for b in about %}
                        <img class="w-100 img-fluid mb-4" src="{{b.image.url}}" alt="Image">
                        <h1 class="text-primary mt-2">{{b.name}}</h1>
                        <div class="mb-4" style="height: 22px;">
                            <h4 class="typed-text-output d-inline-block text-light"></h4>
                            <div class="typed-text d-none">{{b.job}}</div>
                        </div>
                        <div class="d-flex justify-content-center mt-auto mb-3">
                            {% if b.social_telegram %}
                            <a class="btn btn-secondary btn-square mx-1" href="{{b.social_telegram}}" target="_blank"><i class="fab fa-telegram"></i></a>
                            {% endif %}
                            {% if b.social_linkedin %}
                            <a class="btn btn-secondary btn-square mx-1" href="{{b.social_linkedin}}" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                            {% endif %}
                            {% if b.social_github %}
                            <a class="btn btn-secondary btn-square mx-1" href="{{b.social_github}}" target="_blank"><i class="fab fa-github"></i></a>
                            {% endif %}
                            {% if b.social_facebook %}
                            <a class="btn btn-secondary btn-square mx-1" href="{{b.social_facebook}}" target="_blank"><i class="fab fa-facebook-f"></i></a>
                            {% endif %}
                            {% if b.social_instagram %}
                            <a class="btn btn-secondary btn-square mx-1" href="{{b.social_instagram}}" target="_blank"><i class="fab fa-instagram"></i></a>
                            {% endif %}
                            {% if b.social_youtube %}
                            <a class="btn btn-secondary btn-square mx-1" href="{{b.social_youtube}}" target="_blank"><i class="fab fa-youtube"></i></a>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-lg-8">
                    <!-- About Start -->
                    <section class="py-5 border-bottom wow fadeInUp" data-wow-delay="0.1s">
                        <h1 class="title pb-3 mb-5">About Me</h1>
                        {% for b in about %}
                        <p>{{b.body}}</p>
                        <div class="row mb-4">
                            <div class="col-sm-6 py-1">
                                <span class="fw-medium text-primary">Name:</span> {{b.name}}
                            </div>
                            <div class="col-sm-6 py-1">
                                <span class="fw-medium text-primary">Birthday:</span> {{b.birthday}}
                            </div>
                            <div class="col-sm-6 py-1">
                                <span class="fw-medium text-primary">Degree:</span> {{b.degree}}
                            </div>
                            <div class="col-sm-6 py-1">
                                <span class="fw-medium text-primary">Experience:</span> {{b.experience}} Years
                            </div>
                            <div class="col-sm-6 py-1">
                                <span class="fw-medium text-primary">Phone:</span> +988 {{b.phone_number}}
                            </div>
                            <div class="col-sm-6 py-1">
                                <span class="fw-medium text-primary">Email:</span> {{b.email}}
                            </div>
                            <div class="col-sm-6 py-1">
                                <span class="fw-medium text-primary">Address:</span> {{b.address}}
                            </div>
                        </div>
                        {% endfor %}
                    </section>
                    <!-- About End -->

                    <!-- Skills Start -->
                    <section class="py-5 border-bottom wow fadeInUp" data-wow-delay="0.1s">
                        <h1 class="title pb-3 mb-5">Skills</h1>
                        <div class="row">
                            <div class="col-sm-6">
                                {% for skill in skills %}
                                <div class="skill mb-4">
                                    <div class="d-flex justify-content-between">
                                        <p class="mb-2">{{skill}}</p>
                                        <p class="mb-2">{{skill.degree}}%</p>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="{{skill.degree}}" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </section>
                    <!-- Skills End -->

                    <!-- Expericence Start -->
                    <section class="py-5 wow fadeInUp" data-wow-delay="0.1s">
                        <h1 class="title pb-3 mb-5">Expericence</h1>
                        <div class="border-start border-2 border-light pt-2 ps-5">
                            {% for i in expericence %}
                            <div class="position-relative mb-4">
                                <span class="bi bi-arrow-right fs-4 text-light position-absolute" style="top: -5px; left: -50px;"></span>
                                <h5 class="mb-1">{{i.job}}</h5>
                                <p class="mb-2">{{i.working}} | <small>{{i.date}}</small></p>
                                <p>{{i.body}}</p>
                            </div>
                            {% endfor %}
                        </div>
                    </section>
                    <!-- Expericence End -->

                    <!-- Services Start -->
                    <section class="py-5 border-bottom wow fadeInUp" data-wow-delay="0.1s">
                        <h1 class="title pb-3 mb-5">Services</h1>
                        <div class="row g-4">
                            <div class="col-md-6">
                                {% for i in services %}
                                <div class="service-item">
                                    <h5 class="mb-2">{{i.title}}</h5>
                                    <p class="mb-0">{{i.body}}</p>
                                </div><hr>
                                {% endfor %}
                            </div>
                        </div>
                    </section>
                    <!-- Services End -->

                    <!-- Portfolio Start -->
                    <section class="py-5 border-bottom wow fadeInUp" data-wow-delay="0.1s">
                        <h1 class="title pb-3 mb-5">Portfolio</h1>
                        <div class="row">
                            <div class="col-12">
                                <div class="row portfolio-container">
                                    {% for i in portfolio %}
                                    <div class="col-md-6 mb-4 portfolio-item first">
                                        <div class="position-relative overflow-hidden mb-2">
                                            <a href="{{i.link}}" target="_blank">
                                            <img class="img-fluid w-100" src="{{i.image.url}}" alt="">
                                            </a>
                                            <h4 style="text-align: center;">{{i.name}}</h4>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- Portfolio End -->

                    <!-- Testimonial Start -->
                    <section class="py-5 border-bottom wow fadeInUp" data-wow-delay="0.1s">
                        <h1 class="title pb-3 mb-5">Testimonial</h1>
                        <div class="owl-carousel testimonial-carousel">
                            {% for t in testimonial %}
                            <div class="text-left">
                                <i class="fa fa-3x fa-quote-left text-primary mb-4"></i>
                                <p class="fs-7 mb-4">{{t.body}}</p>
                                <div class="d-flex align-items-center">
                                    <img class="img-fluid" src="{{t.image.url}}" style="width: 60px; height: 60px;">
                                    <div class="ps-3">
                                        <p class="text-primary fs-5 mb-1">{{t.name}}</p>
                                        <i>{{t.job}}</i>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </section>
                    <!-- Testimonial End -->

                    <!-- Contact Start -->
                    <section class="py-5 wow fadeInUp" data-wow-delay="0.1s" id="contact">
                        <h1 class="title pb-3 mb-5">Contact Me</h1>
                        <form method='post'>{% csrf_token %}
                            <div class="row g-3">
                                {% for f in form %}
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <div class="row g-3">
                                        <label for="name">{{f.label}}</label>
                                        </div>
                                        {{f}}
                                    </div>
                                </div>
                                {% endfor %}
                                <div class="col-12">
                                    <button class="btn btn-primary w-100 py-3" type="submit">Send Message</button>
                                </div>
                            </div>
                        </form>
                    </section>
                    <!-- Contact End -->
                </div>
            </div>
        </div>

        
        <!-- Back to Top -->
        <a href="#" class="back-to-top"><i class="fa fa-angle-double-up"></i></a>
        
        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="{% static 'lib/wow/wow.min.js' %}"></script>
        <script src="{% static 'lib/typed/typed.min.js' %}"></script>
        <script src="{% static 'lib/easing/easing.min.js' %}"></script>
        <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
        <script src="{% static 'lib/counterup/counterup.min.js' %}"></script>
        <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
        <script src="{% static 'lib/isotope/isotope.pkgd.min.js' %}"></script>
        <script src="{% static 'lib/lightbox/js/lightbox.min.js' %}"></script>

        <!-- Contact Javascript File -->
        <script src="{% static 'mail/jqBootstrapValidation.min.js' %}"></script>
        <script src="{% static 'mail/contact.js' %}"></script>

        <!-- Template Javascript -->
        <script src="{% static 'js/main.js' %}"></script>
    </body>
</html>